

html, body {
     background-color: pink;
     font-size: 16px;
     border: 0;
     margin: 0;
}


/* logopaikka ja navi, molemmat eri containereissa */

.logopaikka {
    background-color: rgb(247, 247, 172);
    
    text-align: center;
    padding: 1rem;
    margin: 0;
    
}

.logopaikka img{
    width: 500px;

    margin: 0;
    padding: 0;
}

.nav {
    background-color: beige;
    text-align: center;
    width: 100%;

}


.nav li {
    display: inline;
    font-size: 1.5rem;

    color: rgb(95, 54, 54);
    margin: 0 3rem;
}


.nav a {
    text-decoration: none;
    color: rgb(95, 54, 54); /*sama kuin yllä, muuten väri eri*/
}

.nav a:hover {
    color:rgb(228, 61, 139);
}

.nav:visited {
    color: rgb(228, 61, 139);
}



@media only screen and (max-width:1405px) {
    .nav li a{
     
        color: rgb(255, 28, 28);
        border: 2px solid black;
       position: absolute;
        
    }


}




/* isotausta */

.isotausta {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9

}
.bodyimg {
    position: absolute;
    width: 100%;
    background-position:  bottom right;
    
   
}

/* mainosio, 2 kuvaa ja 2 tekstilaatikkoa */

.maincontainer {
    background-color: rgba(30, 141, 141, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 15px;


}





.laatikko {
    max-width: 700px;
    max-height: 700px;
    background-color: rgba(228, 145, 173, 0.877);
    border: 2px solid rgba(98, 100, 98, 0.986);
    border-radius: 1%;
    margin: 10px;
    padding: .5rem;
    text-align: center;
    
}

.laatikko img{
   width: 100%;
   height: 100%;
   border-radius: 1%;

}

.laatikko h2 {
    font-size: 2.5rem;
    color: rgb(223, 223, 187);
}

.laatikko p {
    font-size: 2rem;
    color: rgb(221, 213, 202);
}






@media only screen and (max-width:1405px) {


 

 
    

}

@media only screen and (max-width:566px) {

    .laatikko {
        min-width: 250px;
        max-width: 650px;
        min-height: 250px;
        max-height: 650px;

    }

    .laatikko h2 {
      font-size: 6vw;
      margin: auto;
      
    }

    .laatikko p {
        font-size: 4vw;

        margin: auto;
        padding: 1px;
        border: solid black 2px;
    }

}




/* kalenteriosio */

.kalentericontainer {
    background-color: rgb(228, 133, 153);
    
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
    width: 100%;
    

}

.kalentericontainer h2 {
    text-align: center;

    height: 40px;
    margin: 5px 1px 0px 1px;
    padding-top: 2rem;
    font-size: 2.5rem;
    color: rgb(224, 46, 120);
    

    
}

.kalentericontainer img{
    margin: 2rem;

    
}


/* alaosio */

.alaosio {


    background-color:beige;



   
}

.imgcontainer {
    width: 100%;
    height: 650px;
    margin: 20px 0px;

    background-color:beige;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
    background-image: url("../kuvat/kirjekukka.jpg");
    background-position:  center 48%;
    border-top:  0.4rem dotted rgb(255, 253, 253, 0.6);
    border-bottom: 0.4rem dotted rgb(255, 253, 253, 0.6);
    

}

.teksticontainer {
   color: rgb(233, 55, 171);

   width: 50%;
   height: 50%;
   margin: 10% auto;
   font-size: 3rem;
   text-shadow: 0.2rem .2rem rgb(109, 98, 98);
}


button {
    background-color: rgba(248, 106, 236, 0.322);
    height: 30px;
    border-radius: 10%;
}






/* pohja */

.pohjacontainer {
    color:rebeccapurple;

}


.pohja {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgb(247, 247, 172);
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(119, 117, 117);
    margin:1px;
}

.copy {
    font-size: 0.9rem;
    padding-bottom: 0;
}

@media only screen and (max-width:1405px) {
    .pohja {

        width: 100%;
        height: 100%;
        margin:auto auto;
        border: 2px solid black;
        
    }
}